@font-face {
  font-family: ballpark;
  src:url(../fonts/BALLW___.TTF);
}

@font-face {
  font-family: hellvetica;
  src:url(../fonts/HelveticaBlack.ttf);
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  font-size: 12px;
  line-height: 1.5;
  color: #ffffff;
}

.top-block {
  background: url(../images/bg-header.gif) repeat 0 0;
  border-bottom: 4px solid #242424;
  padding-bottom: 85px;
}

  .container {
    
  }

    header {
      padding: 24px 0 15px 0;
    }

      .logo {
        color: #e0e0e0;
        font-size: 36px;
        font-family: ballpark;
      }

      .logo:hover {
        color: #e0e0e0;
      }

      nav a {
        color: #e8e8e8;
        font-weight: bold;
        padding: 10px 14px;
        display: block;
      }

      nav a:hover {
        color: #e8e8e8;
      }

      nav .list-inline>li {
        padding: 0 12px 0 12px;
        background: url(../images/bg-nav-li.png) no-repeat 100% 50%;
      }

      nav li.active a,nav a:hover {
        background: #282828; /* Old browsers */
      background: -moz-linear-gradient(top, #282828 0%, #2e2e2e 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top, #282828 0%,#2e2e2e 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, #282828 0%,#2e2e2e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#282828', endColorstr='#2e2e2e',GradientType=0 ); /* IE6-9 */
      border-radius: 6px;
      }

      form {
        background: #2f2f2f;
        border-top: 1px solid #262626;
        border-radius: 25px;
        padding: 9px 0;
      }

        input, button {
          background: transparent;
          border: none;
        }

        input[type="text"] {
          width: 75%;
          outline: none;
        }
    
    .middle-button {
      font-size: 13px;
      color: #ffffff;
      text-transform: capitalize;
      background: #a0a0a0; /* Old browsers */
      background: -webkit-linear-gradient(#a0a0a0 0%, #848585 30%, #888989 62%, #888888 100%);
      background: -o-linear-gradient(#a0a0a0 0%, #848585 30%, #888989 62%, #888888 100%);
      background: linear-gradient(#a0a0a0 0%, #848585 30%, #888989 62%, #888888 100%); /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a0a0a0', endColorstr='#888888',GradientType=0 ); /* IE6-9 */    
      border: none;
      padding: 11px 31px 13px 25px;
      margin-top: 13px;
    }

    .col-md-5>p:nth-child(2) {
      margin-bottom: 17px; 
    }

    .carousel-indicators {
      text-align: right;
      margin: 0;  
      bottom:  -15px;   
      width: 70%; 
    }

    .carousel-indicators li, .carousel-indicators .active {
      height: 5px;
      width: 23px;
      border: none;
      background-color: #888888;
      border-radius: 0;
    }

    .carousel-indicators .active {
      background-color: #bebebe;
      margin: 1px;

    }
  
  .padd-bottom30 {
    padding-bottom: 30px;
  }

.middle-white-block {
  background: #ffffff;
  color: #333333;
  padding-bottom: 49px;
}

  .flex-block {
    display: flex;
  }

    .flex-item {
      padding: 25px;
      margin-top: -65px;
      background: #ffffff;
      margin-left: 10px;
      margin-right: 10px;
    }

    .flex-item h4 {
      font-size: 15px;
      color: #171717;
      font-weight: bold;
    }

      .grey {
        color: #8e8e8e;
      }

      .read-more {
        color: #333333;
        font-size: 12px;
        font-weight: bold;
        padding-top: 17px;
        padding-bottom: 17px;
        background: url(../images/divider.png) repeat-x 0 0;
        display: block;
      }

      .read-more:hover {
        background: url(../images/divider-bot.gif) repeat-x 0 100% #777777;
        color: #ffffff;
        transition: 1.5s all;
      }
  
  .title-recent {
    margin-left: 25px;
    padding-bottom: 10px;
    margin-bottom: 30px;
    background: url(../images/divider.png) repeat-x 0 100%;
  }

    .w100 {
      width: 100%;
    }

.recent {
  position: relative;
  display: block;
}

  .recent:hover .info {
    display: block!important;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/bg-search.png) no-repeat 50% 40% rgba(0,0,0,.75);

  }

    .info li{
      display: inline-block;
      margin-right: 35px;
      color: #fff;
    }

    .info li:last-child {
      margin-right: 0;
    }

    .info ul {
      position: absolute;
      bottom: 10px;
    }
    
    .pd-left {
      padding-left: 25px;
    }

    .mb20 {
      margin-bottom: 20px;
    }

